// $color-primary: #f59a83;
$color-primary: #f38e82;
// $color-grad-1: #fbdb89;
// $color-grad-2: #f48982;
$color-grad-1: #040404;
$color-grad-2: #df0000;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #c2c1c1; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$color-main: #267292;
$color-accent: #91c5db;

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);
$gradient-2: linear-gradient(to right bottom, $color-grad-1, $color-main);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-light-2;

  background-image: url("../img/background-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

textarea:focus,
input:focus {
  outline: none;
}

.container {
  position: relative;
  max-width: 80rem; // 140
  min-height: 60rem; // 75
  margin: 2vw auto;

  background-color: rgba(0, 0, 0, 0.488);

  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;

  // SA DISPLAY:GRID
  // grid-template-rows: 12% min-content min-content;
  // justify-content: center;
  // align-items: flex-start;

  // grid-template-rows: 10rem minmax(100rem, auto);
  // grid-template-columns: 1fr 2fr;
  // grid-template-areas:
  //   "head head"
  //   "list recipe";

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.search-instruction {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 3.5em;
  text-shadow: 3px 3px 1 rgb(30, 30, 30);
}

.bi-arrow-right-short {
  font-size: 300%;
}

.search-spell {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-spell {
  height: 12vh;
  width: 40vw;
  min-width: 30em;

  padding-left: 1.5rem;
  position: relative;
  border: 6px inset $color-main;

  border-radius: 40px; //13
  font-size: 2rem;

  // Ne vidi se search query kada je gradient
  // border-image: $gradient 10;
  // border-width: 10px;
  // border-style: solid;
  // border-radius: 13px;
  // border: 10px solid transparent;
  // background: $gradient border-box;
  // -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);

  // -webkit-mask-composite: xor;
  // mask-composite: exclude;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color-grey-light-3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-grey-light-3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color-grey-light-3;
}

// Ukine mali "x" prilikom searchanja pojma
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  max-height: 400px;
  overflow-y: auto;
  background-color: $color-grey-light-2;
}
ul.has-suggestions {
  display: block;
}
ul li {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  border-bottom: 1px ridge #e4e4e4;
}
ul li:hover {
  background-color: $color-accent;
}

ul::-webkit-scrollbar {
}

.suggestions {
  margin-top: 0.5vh;
  width: 37vw;
  z-index: 2;

  color: #267292;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-instruction-2 {
  margin-top: 30px;
  font-size: 2.5em;
  text-shadow: 3px 3px 1 rgb(30, 30, 30);
}

.btn-primary {
  width: 10vw;
  height: 70px;
  border-radius: 12px; // 10
  padding: 5px;
  border: none;

  // color: $color-grey-dark-2;
  font-weight: 550;
  color: $color-main;
  text-shadow: 1px 1px 2 #3a779151;

  background-color: $color-grey-light-2;
  box-shadow: 3px 3px rgba(6, 71, 103, 0.382);

  font-size: 2rem;
  cursor: pointer;
}

.btn-primary:hover,
active {
  background-color: $color-accent;
}

.btn-primary.selected {
  background-color: $color-accent;
}

.btn-container-school {
  display: grid;
  grid-template-columns: repeat(4, auto);

  margin-top: 20px;
  gap: 10px;
  row-gap: 12px;
}

.btn-school {
  min-width: 120px;
}

.btn-container-level {
  display: flex;
  gap: 8px;
  margin-top: 25px;
}

.btn-level {
  height: 60px;
  width: 60px;
  min-width: 50px;
}

.btn-search {
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 80%;
  background-image: $gradient-2;
  color: $color-grey-light-1;
  text-shadow: 2px 2px 2 rgb(30, 30, 30);

  box-shadow: 4px 4px rgba(0, 0, 0, 0.084);
}

.filtered-container {
  display: none;
}

.filtered-container.is-filtered {
  // display: grid;
  // grid-template-columns: repeat(4, 25%);
  // column-count: 4;
  // justify-items: center;
  // row-gap: 5px;

  // display: flex;
  // flex-direction: column;

  display: block;
  columns: 4;

  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px 15px;
  // padding-bottom: 8px; // Jer je margin-bottom 12px, pa ga offseta
  border: 2px solid $color-grey-dark-2;
  border-radius: 5px;
}

.grid-item {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  vertical-align: center;

  margin: auto;
  margin-bottom: 12px;
  padding: 5px;
  min-height: 30px;
  width: 8em;

  color: $color-main;
  background-color: $color-grey-light-2;
  border: 2px solid #dcdcdc49;
  border-radius: 8px;
  font-size: 2rem;

  break-inside: avoid;
}

.grid-item:hover,
active {
  background-color: $color-accent;
  cursor: pointer;
}
